/*
Este CSS está dedicado para modificar los aspectos escenciales de la página, como el header, body,
footer... Siempre tiene que estar incluído para la estructura principal.
*/
@import url(https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27);
*{
    color: #fff;
    font-family: 'Poppins', sans-serif; 
    
}


h2, h4{
    margin: 10px 0 10px 0;
}

a{
    text-decoration: none;
    color: #837059;
}

h1, h2, h3, h4, h5{
    color: #fff;
}

h2{
    color: #624c31;
    font-size: 48px;
}

h3{
    font-size: 24px;
}

h4{
    color: #aaaaaa;
    font-size: 16px;
}

p, span{
    font-size: 16px;
}


body, iframe{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9dac1;
}

#main--header{
    display: flex;
    position:sticky;
    justify-content:space-around;
    align-items:center;
    background-color: #fbf8f1;
    margin: 0;
    top: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.097);
    z-index: 100;
}

article{
    background-color: #fff9ca;
    border-style: solid;
    border-color: #a49949;
    border-width: 3px;
}

#list--header{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    gap: 75px;
}

.item--nav > a{
    text-decoration: dotted;
}

.item--nav{
    transition: transform 0.2s;
}

.item--nav:hover{
    transform: translateY(5px);
}

#page--struct{
    display: flex;
    justify-content:center;
}

#brand--header{
    width: 64px;
    height: 64px;
}

#social--footer{
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 30px;
}

#icon--social{
    width: 32px;
    filter: invert(1);
}

#title--header{
    display: flex;
    align-items: center;
    gap: 8px;
}

#title--header > h1{
    font-family: 'K2D', sans-serif;
    color: #837059;
}



#item--icon{
    border-radius: 5px;
    margin-top: 5px;
    width: 32px;
    height: 32px;
}

li{
    list-style: none;
}

#desp--aside{
    display: none;
}

#desp--aside > img{
    filter: invert(1);
    width: 64px;
    height: 64px;
}

#main--aside{
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: sticky;
    z-index: 50;
    margin: 0;
    left: 5px;
    top: 90px;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    align-items: flex-start;
    background-color: var(--lowtoneblack);
}

.item--aside > h3{
    font-weight: 700;
    font-size: 15px;
}

.item--aside{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    gap: 0px;
    background-color: #624c31;
    border-radius: 10px;
    transition: background-color 0.2s, transform 0.2s;
}

.item--aside:hover{
    cursor: pointer;
    background-color: #493825;
}

.item--aside:active{
    transform:scale(0.90);
}


#footer--area{
    display: flex;
    position: sticky;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #3e5032;
    margin: 0;
    top: 0;
}

#footer--area > h1{
    margin: 0;
}

#footer--area > span{
    color: #ffffff;
}

#brand--footer{
    width: 64px;
}


section{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article{
    width: 80%;
}

#javascript--logo{
    width: 250px;
}

@media screen and (max-width: 990px) {

    #page--struct{
        flex-direction: column;
    }

    #main--header{
        flex-direction: column;
    }

    #brand--header{
        width: 48px;
        height: 48px;
    }

    #main--aside{
        top: 108px;
        flex-direction:row;
        overflow-x: auto;
    }

    .item--aside{
        min-width: 200px;
        height: 30px;
    }

    #list--header{
        gap: 25px;
        margin: 10px;
    }

    #title--header{
        gap: 0px;
    }

    section{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    article{
        width: auto;
        max-width: 90%;
    }

    #page-struct{
        align-items: center;
    }

    .item--nav > a{
        font-size: 15px;
    }
      
}


@media screen and (max-width: 450px) {
    #main--aside{
        top:44px;
    }

    #item--nav{
        font-size: 17px;
    }

    #main--header{
        flex-direction: row;
    }

    #list--header{
        margin: 10px;
    }

    #brand--header{
        width: 32px;
        height: 32px;
    }

    #title--header{
        gap: 0;
        flex-direction: column;
    }

    #title--header > h1{
        display: none;
    }

    .item--aside{
        height: 32px;
    }
}