#main--aside{
    display: none;
}

body{
    background-color: #edffd8;
}

.introduction{
    display: flex;
    background-color: #fff9ca;
    width: 90%;
    justify-content: center;
    margin-bottom: 0;

}

section{
    width: 80%;
}

#cssdoc{
    background: linear-gradient( #edffd8);
    flex-direction: row;
    flex-wrap: wrap;
}

.logotf{
    width: 100px;
}

.not-all{
    display: flex;
    flex-direction: column;
}

.not-all, #article--sep{
    width: 80%;       
}

.img--article{
    max-width: 95%;
}

#element1, #element2{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 90%;
    align-items: center;
    justify-content:center;
}



#element2{
    width: 100%;
    height: 65%;
    background-color: #ead59f;
    transition: background-color 0.2s, transform 0.5s;
}

#element2:hover{
    
    transform: scale(0.9);
}

#element2>img{
    border-radius: 5px;
}

#backforicon{
    height: 320px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content:center;
}

#backforicon > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

#destacadosjs{
    flex-wrap:wrap;
    margin-top: 0;
}

#internal--element{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    width: 320px;
    background-color: #ead59f;
    border-width: 3px;
    border-color: #c1965e;
    border-style: solid;
    padding: 10px;
    padding-top: 0;
    margin: 5px;
    margin-top: 10px;
    transition: background-color 0.2s, transform 0.5s;
}

#internal--element:hover{
    transform: scale(0.98);
    background-color: #c1965e;
}

.author--img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #000);
    margin-right: 10px;
}

#author--cont{
    border-top: 2px solid #00000045;
    display: flex;
    padding-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#author--details{
    display: flex;
    flex-direction: column;
}

#author--details > h3,span{
    color: #624c31;
    font-size: 14px;
    margin: 0;
}

#back--element{
    margin-top:10px;
    border-radius: 5px;
    width: 100%;
}

#internal--element > h3{
    color: #624c31;
    font-size: 20px;
    margin: 5px;
}

#internal--element > p{
    font-size: 12px;
    margin: 5px;
    color: #000;
}

#elements--carrs{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#cg--color{
    margin: 5px;
    color: #c1eaff;
}

.item--aside{
    align-items: center;
}

#img--task{
    width: 128px;
}

#flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title--taskitty{
    margin: 0;
    font-family: 'K2D', sans-serif;
    font-size: 45px;
    color: #837059;
}

#sec--taskitty{
    margin: 0;
    font-family: 'K2D', sans-serif;
    font-size: 30px;
    color: #837059;
}

#other--taskitty{
    font-family: 'K2D', sans-serif;
    font-size: 30px;
    color: #837059;
    margin: 2px;
}

#tiny--taskitty{
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    color: #837059;
    margin: 2px;
}

.all-wind{
    display: flex;
    background-color: #edffd8;
    width: 100%;
    border-width: 0;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#img-size{
    width: 90%;
}

#cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 350px;
    background: linear-gradient(#273420,#435735);
    border-radius: 30px;
}

#cont-esp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 350px;
    background: linear-gradient(#fff9ca,#ead59f);
    border-radius: 30px;
}

.row{
    flex-direction: row;
}

.sabias{
    border-radius: 10px;
}

#download > h4{
    color: #000;
    font-size: 25px;
}

.downloadon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    justify-content: center;
    background-color: #749160;
    height: 76px;
}

#net-hub{
    display: flex;
    gap:5px;
    align-items: center;
}

#net-hub > img{
    width: 16px;
    height: 16px;
}

#net-hub > h1{
    margin: 0;
}

#text-down{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-down > h1, h4{
    margin: 0;
    color: #8dd45a;
}

.downloadon > img{
    width: 64px;
    height: 64px;
}

#down{
    border-width: 0;
    background-color: #ead59f;
}

#cont-esp > img{
    width: 50%;
    filter: drop-shadow(0 0 15px #ffffff);
}

.main--article{
    box-shadow: none;
}


#cont > img{
    filter: drop-shadow(0 0 10px #8dd45a);
}


#cont-esp > h4{
    font-size: large;
    color: #000;
    text-align: center;
}

#cont > p{  
    text-align: center;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

#cont > h4{
    font-size: large;
    color: #fff;
}


@media screen and (max-width: 990px) {

    section{
        width: auto;
    }

    .introduction{
        height: max-content;
        height: 70vh;

    }

    .all-wind{
        width: 90%;
    }

    #internal--element{
        width: 280px;
    }

    #backforicon{
        flex-direction: column;
    }
}